---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>Astro_test</h1>
		<div>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ducimus aliquam est velit? Rem id qui, ex expedita autem eligendi repellat. Obcaecati saepe veniam laboriosam velit nulla, dicta rem dignissimos!</p>
		</div>
	</body>
</html>
